NODE_ENV=development
PORT=3001
DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/DB?schema=alym"
JWT_SECRET="replace-with-long-random-string-min-32-chars"
JWT_EXPIRES_IN="24h"
# CORS_ORIGIN="https://alym-game.onrender.com"
# EMAIL_VERIFY=0
# WEBHOOK_SECRET=
# LOG_VERBOSE=0
